@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

:root {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button .link {

    text-decoration: none;
    color: white;
}

li .link {

    text-decoration: none;
    color: black;
    font-weight: bold;
}

li .link.active {

    color: #118cfe;
}

.logoSize {

    width:50px;
    height:50px;
}

/* ----------------------------------------------SECTION HEADER */

.headerWrapper {

    position: relative;
    height: 100px;
}

.sectionHeader {

    margin-top: 0px;
    font-size: 3rem;
    text-align: center;
    color: #118cfe;
    font-family: 'Electrolize', sans-serif;
}
/* --------------------------------------NAV BAR */

.navBarStyles {

    display: flex;
    justify-content: space-between;
}

.navBarList {

    display: flex;
    list-style: none;

}

.navBarItem {

    font-size: 1.6rem;
    margin: 10px 10px 0px 10px;
    cursor: pointer;
    font-family: 'karla', sans-serif;
}

/* ----------------------------------------------NAV PANEL */

.navGrid {

    
    margin-top: -20px;
}

.navGroup {

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    width: 40%;
    margin: auto;
    align-items: center;
    height: 350px;
  
    
}

.navItems {

    text-align: center;
    /* background-color: #118CFE; */
    background-color: rgb(226, 92, 43);
    align-content: center;
    padding: 70px 5px;
    font-size: 1.3rem;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);
    
    
}

/* ------------------------------------------LEAGUE LIST COMPONENT */

.leagueListGroup {

    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 30%;
    height: 400px;
    border: 1 px solid black;
}

.leagueListItem {

    font-size: 1.3rem;
    font-family: 'Electrolize', sans-serif;
    background-color: rgb(226, 92, 43);
    color: white;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
}

/* -----------------------------------PLAYER COMPARE TEMPLATE */

.compareTemplateGroup {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.compareCard {

    height: 500px;
    width: 30%;
    background-color: gainsboro;
}

/* ----------------------------------BACK BTN BOX */

.backBtnBox {

  position: absolute;
  top: 15%;
  cursor: pointer;
}


/* --------------------------------------TEAM STANDINGS */

.teamStandingsCardWrapper {

    position: absolute;
    right:5%;
    top: 50%;
    width: 50%;

  
  
    
}
.teamStandingsCard {

    display: flex;
    padding: 10px;
    box-shadow: 0 3px 7px rgba(68, 67, 67, 0.548);
    border-radius: 10px;
    width: 70%;
    justify-content: space-between;
    height: 40px;
    margin: 20px;
    background-color: white;
}


.nameCard, .rankCard {

    font-size: 1.1rem;
    font-family: 'saira', sans-serif;
    
    
    
}

/* ---------------------------LIVESCORES */

.liveScoresCard {

    position: absolute;
    right: 10%;
    top: 40%;
}


.fixturesCard {

    display: flex;
    padding: 10px;
    box-shadow: 0 3px 7px rgba(68, 67, 67, 0.548);
    border-radius: 10px;
    width: 450px;
    justify-content: center;
    height: 100px;
    margin: 20px;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);

}

.fixtureGrid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;


}


/* .homeTeam {

    margin-left: -50px;

}

.awayTeam {

    margin-right: -50px;

} */