@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

:root {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button .link {

    text-decoration: none;
    color: white;
}

li .link {

    text-decoration: none;
    color: black;
    font-weight: bold;
}

li .link.active {

    color: #118cfe;
    border: 2px solid #118cfe;
    padding: 10px;
}

.logoSize {

    width:20px;
    height:20px;
    
}

/* ----------------------------------------------SECTION HEADER */

.headerWrapper {

    position: relative;
    height: 100px;
}

.sectionHeader {

    margin-top: 0px;
    font-size: 3rem;
    text-align: center;
    color: #118cfe;
    font-family: 'Electrolize', sans-serif;
}
/* --------------------------------------NAV BAR */

.navBarStyles {

    display: flex;
    justify-content: space-between;
}

.navBarList {

    display: flex;
    list-style: none;

}

.navBarItem {

    font-size: 1.6rem;
    margin: 10px 10px 0px 10px;
    cursor: pointer;
    font-family: 'karla', sans-serif;
}

/* ----------------------------------------------NAV PANEL */

.navGrid {

    margin-top: 100px;
}

.navGroup {

    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    width: 40%;
    margin: auto;
    align-items: center;
    height: 350px;
  
    
}

.navItems {

    text-align: center;
    /* background-color: #118CFE; */
    background-color: rgb(226, 92, 43);
    align-content: center;
    padding: 70px 5px;
    font-size: 1.3rem;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);
    
    
}

/* ------------------------------------------LEAGUE LIST COMPONENT */

.leagueListWrapper {

    margin-top: 100px;
}

.leagueListGroup {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
}

.leagueListItem {

    font-size: 1.3rem;
    font-family: 'Electrolize', sans-serif;
    background-color: rgb(226, 92, 43);
    color: white;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
}

/* -----------------------------------PLAYER COMPARE TEMPLATE */

.compareTemplateGroup {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.compareCard {

    height: 500px;
    width: 30%;
    background-color: gainsboro;
}

/* ----------------------------------BACK BTN BOX */

.backBtnBox {

  position: absolute;
  top: 15%;
  cursor: pointer;
}


/* --------------------------------------TEAM STANDINGS */

.teamStandingsCardWrapper {

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    margin-left: 50px;
    /* box-shadow: 0 3px 7px rgba(68, 67, 67, 0.548); */
    padding: 20px;

}
.teamStandingsCard {

    display: flex;
    width: 80%;
    justify-content: space-around;
    background-color: white; 
    /* border: 2px solid blue; */
}


.rankCard {

    font-size: 1rem;
    font-family: 'Electrolize', sans-serif;
    color: #118cfe;

}

.nameCard {

    font-size: 1rem;
    font-family: 'saira', sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

span {

    font-size: 1rem;
    font-family: 'saira', sans-serif;
    font-weight: bold;
    
}

.standingsStat {

    text-align: center;
    width:100%;
    background-color: white;
    box-shadow: 0 3px 7px rgba(68, 67, 67, 0.548);
    padding: 15px;
    margin: 10px;
    /* border: 2px solid red; */
}

.tableTitles {

    display: flex;
    justify-content: space-around;
    margin: 0 auto -20px auto;
    width: 60%;
    font-family: 'Electrolize', sans-serif;
    color: #118cfe;
    
}




/* ---------------------------LIVESCORES */

.liveScoresCard {

    position: absolute;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    right: 10%;
    top: 40%;
}


.fixturesCard {

    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    height: 80px;
    margin: 20px;
    box-shadow: 0 3px 7px rgba(14, 13, 13, 0.548);

}

.fixtureGrid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;


}

.fixtureInfo {

    font-size: 0.8rem;
    font-family: 'saira', sans-serif;

}

/* -------------------------ROUNDS----------------------- */

.roundWrapper {

    position: absolute;
    right: 5%;
    top: 40%;
}

.roundBtn {

    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #118cfe;
    color: white;
    border: none;
    outline: none;

}

.roundHeading {

    margin-top: 60px;
    text-align: center;
    font-family: 'saira', sans-serif;
}